body {
	user-select: none;
	overflow-x: hidden;
	max-height: 100vh;
}

.containerLoading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.582);
	color: white;
}

.containerLoading > .imageLoading {
	position: absolute;
	z-index: 999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.containerLoading .textLoading {
	position: absolute;
	z-index: 999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* mdb custom title header */

.white-skin .side-nav .collapsible li .title-header {
	display: block;
	padding-left: 20px;
	font-size: .8rem;
	color: #a0a0a0;
	transition: all .3s linear;
	font-weight: 100;
	font-style: italic;
	height: 28px;
	line-height: 28px;
}

#mdb-preloader {
	background-color: rgba(0, 0, 0, 0.66);
	/*transition: .3s ease-in;*/
}

#mdb-preloader.loading {
	opacity: 1;
	visibility: visible;
}

#mdb-preloader.loaded {
	opacity: 0;
	visibility: hidden;
}

.danger-color, ul.stepper li a .circle .fa,
.danger-color, ul.stepper li a .circle .fab,
.danger-color, ul.stepper li a .circle .fad,
.danger-color, ul.stepper li a .circle .fal,
.danger-color, ul.stepper li a .circle .far,
.danger-color, ul.stepper li a .circle .fas {
	line-height: 2;
}

.white-skin ul.stepper li.completed a .circle,
ul.stepper li.completed a .white-skin .circle {
	background-color: #39d662 !important;
}

.fixed-sn main, .hidden-sn main {
	padding-bottom: 5.5rem;
}

.fixed-sn main.custom-scrollbar, .hidden-sn main.custom-scrollbar {
	max-height: 100vh;
}

.select2.invalid + .select2-container--material .select2-selection--single {
	border-color: #f44336;
}

.select2-container--material .select2-selection--single .select2-selection__clear {
	margin-right: 1rem;
}

section.card-error {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%,-50%);
}

.fixed-action-btn-main {
	position: fixed;
	right: 35px;
	bottom: 35px;
	z-index: 998;
	padding-top: 15px;
	margin-bottom: 0
}

.fixed-action-btn-main ul {
	position: absolute;
	right: 0;
	bottom: 64px;
	left: 0;
	display: flex;
	flex-direction: column;
	height: 64px;
	padding: 0;
	margin: 0 0 15px;
	text-align: center;
	transition: .4s height
}

.fixed-action-btn-main ul li {
	z-index: 0;
	display: flex;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto
}

.fixed-action-btn-main ul a.btn-floating {
	opacity: 0;
	transition-duration: .4s;
	transform: scale(.4) translate(0)
}

.fixed-action-btn-main ul a.btn-floating.shown {
	opacity: 1;
	transform: scale(1) translate(0)
}

/* .fixed-sn .double-nav,
.fixed-sn footer,
.fixed-sn main {
    padding-left: 16rem;
}

.double-nav .button-collapse {
    display: inline;
    position: static;
} */

body.modal-open {
	overflow-x: hidden;
}
