div.dataTables_wrapper div.dataTables_filter input {
	margin-left: inherit;
	display: inherit;
}

div.dataTables_wrapper div.dataTables_filter select, div.dataTables_wrapper div.dataTables_filter input {
	width: 100%;
}

div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {
	text-align: inherit;
	font-weight: inherit;
	padding-top: inherit;
	padding-bottom: inherit;
}

div.dataTables_wrapper div.dataTables_length .select2-container--material .select2-selection--single {
	padding-top: 0;
	padding-bottom: 5px;
}

div.dataTables_wrapper div.dataTables_length .select2-container--material .select2-selection--single .select2-selection__arrow {
	margin-top: 0px;
}
